<!doctype HTML>
<html>
<head>
  <title>Quotes Home</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'quotes/css/style.css' %}">
</head>
<body>
<div class='top_nav'>
    <h3 class='top_nav_itm'> Welcome, {{ request.session.user }}</h3>
    <p class='top_nav_itm'><a href='/reset'> Logout </a></p>
</div>
<div class="error">
  {% if messages %}
    {% for msg in messages %}
      <div class="alert">
        {{msg.message}}
      </div>
    {% endfor %}
  {% endif %}
</div> 
<div class='main'>
  <div class='disp_300'>
  <h3>Quotable Quotes</h3>
    {% for q in all_quotes %} 
    <div class="row">
      <p class='in20'>{{ q.author }}: </p> <p class='in10 inline'> {{ q.quote }}</a></p>
      <p class='in20'>Posted by <a href="/show_user/{{q.creator.id}}"><span class='italic'>{{ q.creator.name }}</span></a></p> 
      <form action='/add_fav/{{q.id}}' method='POST'>
        {% csrf_token %}
        <input type="submit" name="btn" class="btn_blue wid_100" value="Add to My List">
      </form>
    </div>  
    {% endfor %}
  </div>
  <div class="disp_300">
    <h3>Your Favorites</h3>
    {% for qt in favs %}
      <p class=''>{{ qt.author }}: </p> <p class='in10 inline'> {{ qt.quote }}</a></p>
      <p class=''>Posted by <a href="/show_user/{{q.creator.id}}"><span class='italic'>{{ qt.creator.name }}</span></a></p> 
      <form action='/del_fav/{{qt.id}}' method='POST'>
        {% csrf_token %}
        <input type="submit" name="btn" class="btn_blue wid_150" value="Remove from My List">
      </form>
    {% endfor %}
  </div>
  <div class="disp_300">
      <h3>Cotribute a Quote</h3>
         <form action='/add_quote' method='POST'>
          {% csrf_token %}
          <p>Quoted By: <input type="text" name="author"></p>
          <p>Message:</p>
          <textarea class='disp_200' name='quote'></textarea><br>
          <input type="submit" name="btn" class="btn_blue" value="Submit">
        </form>

    </div>
</div>
</body>
</html>
